*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}

.fontlinks{
    text-decoration: none;
    color: green;
    font-family: 'Crimson Text', serif;
}

#contactUsH3{
    text-align: center;
}

/*start navigation bar*/
    .contenedor1{
    background-color: white;
    display:flex;
    height:100px;
    justify-content: space-evenly;
    flex-flow:wrap;
    flex:1 1 auto;
    }


    .hijo1{
        display:flex;
        align-items: center;
        width: 100px;  
    }


    .logo{
        max-width: 100%;
        /*width:150px;*/
        height: 100px;
        order:0;
    }
/*end navigation bar*/

/*start hover effect navigation bar*/

    nav a:hover
    {color:#000;
    }

    nav a::before{
    content:'';
    display:block;
    height:5px;
    width:100%;
    background-color: #444;
    position:absolute;
    top:0;
    width: 0%;
    transition:all ease-in-out 250ms;
    }

    nav a:hover::before{width:5%;}

/*end hover effert navigation bar*/

/*Start Contenedor message header*/
    .contenedor2{
        background-color: lightblue;
        display:flex;
        height: auto;
        justify-content: center;
        /*align-items:center;*/
        flex-flow:wrap;
        /*flex:1 1 auto;*/
        padding-top: 20px;
        padding-bottom: 20px;
       
 
    }

    /*alienar parrafo*/
    .palinear{
        text-align: center;
    }

/*End Contenedor message header*/



    .left{
        display:flex;
        align-items: left;
        width: 100px; 
        flex-grow: 1;
    }

    .right{
        display:flex;
        align-items: right;
        width: 100px; 
        flex-grow: 1;
    }

    
/*Fieldset pagina reservar de canchas*/
    .fieldsetcanchas{text-align:left;
    background-color: lightgrey;
    display: inline-block;
    margin:auto;}

/*Start Características botón reset enviar*/
    .reset{background-color: rgb(235, 175, 175);}
    .enviar{background-color: aquamarine;}
    .button{display: flex;justify-content: space-between;}
/*End Características botón reset enviar*/

.canchas{
    display:flex;
    width:80%;
    height: 500px;
    margin:50px auto;
    flex-wrap: wrap;
    align-items: center; /*funciona con un solo row, y este alinea en el medio horiz y verti del div*/
    /*stretch*/
}

.contenedor_clases{
    background-color: lightblue;
    display:flex;
    height:100px;
    justify-content: space-around;
    flex-flow:wrap;
    flex:1 1 auto;
    /*padding: auto;*/
    max-resolution:;

}

/*grid de la pagina clases*/
.types{
  width:100%;
  display: grid;
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:/*'miArea miArea'*/
                        'miArea1 miArea3'
                        'miArea2 miArea4';                    

   grid-column-gap: 20px;
   grid-row-gap:0px;
   padding: 0 10px 0 10px;
  /* background-color:orange;*/
   border: 10px double lightblue;
}

.img { max-width: 100%; 
    max-height: 100%;
    object-fit:cover;
     }


/*.img{
object-fit: cover;
max-width: 100%;
max-height: 100%;}*/

.types>div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 0px 0;
    font-size: 30px;
}

/*.clases_title{
grid-area: miArea;
/*border: 1px solid black;*/}*/

.clases_kids{
    grid-area: miArea1;
    /*border: 1px solid black;*/

    max-width: 100%; height: auto;
    padding:0%;
    
    
 }

.text_kids
{
    grid-area: miArea2;
    border: 10px double lightblue;
    
    }

.text_inic{
    font-size:0.5em;
    text-align: left;
    margin: 2%;
}

.text_inic2{

    text-align: left;
    margin: 2%;
}

.centertitle{
    text-align: center;
}

.clases_adults{
        grid-area: miArea3;
        max-width: 100%; height: auto;
        /*border: 1px solid black;*/}
        
.text_adults
        {
            grid-area: miArea4;
            border: 10px double lightblue;}

br{
    content: "";
    margin: 2em;
    display: block;
    font-size: 10%;
}
/*start grid para colocar las imagenes en la pagina Canchas.html*/
.canchas1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:'miArea miArea1 miArea2';
    max-width: 100%; height: auto;
    margin-left: 0.6%;
    margin-right: 0.6%;
   }

   .canchas2{
    display: grid;
    grid-template-columns: 1fr
    
   }

.imgcanchas{
    max-width: 100%; 
    object-fit:cover;
    padding-top: 10px;
}
/*fin grid para colocar las imagenes en la pagina Canchas.html*/



.otro{align-self: flex-start;

}

.otro2{align-self:flex-end;

}


/* Start Slideshow container */
    .slideshow-container {
    max-width: 1067px;
    position: relative;
    margin: auto;
    display: flex;
    }

    /* Hide the images by default */
    .Slides {
    display: none;
    }


    /* On hover, add a black background color with a little bit see-through 
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    }*/


    /* Fading animation 
    .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    }

    @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }*/

    /*img del slideshow*/
    .img2{
        width:100%;
        height:60%;
        margin: 0%;
        padding-top: 0.5%;
    }

/* End Slideshow container */


.contenedor {
    /*max-width: 1200px;*/
    width: 100%;
    margin: auto auto;
    border:1px solid red;
    height: 300px;
    display:block;
}

.contenedor22{
    width: 100%;
   /* margin-left: 2%;
    margin-right:2%;*/
    height: auto;
    display:block;
    padding: 50px 50px;
}

.entrada-blog{
    display: inline-block;
    color: black;
    padding: 10px 20px;
    border: 10px double lightblue;
    margin:1%;
    transition: transform .2s;
}

.entrada-blog:hover{
    transform: scale(1.05);
}

/*START Main Contact*/
 /*   .contenedorMain {
        width: 100%;
        height: auto;
    }*/

    .contmain{
        width: 100%;
        /*background-color: yellow;*/
        flex-flow:wrap;
        height: auto;
        text-align: center;
        /*padding: 10px 20px;*/
        border: 10px double lightblue;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
    }


    .mainblock{
        display: inline-block;
        padding: 10%;
        font-weight: bold;
        /*background-color: red;*/
        justify-content:center;
        
    }

    .mainblockcal{
        display: inline-block;
        padding: 10%;
        font-weight: bold;
       /* background-color: red;*/
        justify-content:center;
        max-width: 50%;
        margin-left: 20%;
        
    }
    .articuloMain {
        /*display: flex;
        color: black;
        padding: 10px 20px;
        border: 10px double lightblue;
       
        justify-content: space-between;*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        border: 10px double lightblue;
        margin:1%;

    }

    .imgdate{
        max-width:100%;
    }

    .pruebanov{   
    display: inline-block;
    color: black;
    padding: 10px 20px;
   /*border: 10px double red;*/
    margin:1%;
    text-align: center; 
    width: 100%;
    flex-wrap: nowrap;} 

    .imgnov{   
        display: inline-block;
        color: black;
        padding: 10px 20px;
       /*border: 10px double red;*/
        width: 100%;
        text-align: center;
        margin:1%;
    } 
        
    .textoNovedades{
  
       /* border:2px double greenyellow;*/
        text-align: center;
        align-items: center;
        margin: 10%;
        flex-flow: wrap;
        
;
        }

    .anotarseactividad{
        display: inline-block;
        padding: 10px 10px;
        font-weight: bold;
        margin:10%;
        justify-content: space-evenly;
    }


    .confirmar{
        background-color: white;
        border:white ;
        display: inline-block;
        
    }


/*END MAIN CONTACT*/






/*Start Footer*/
        .contfoot{
            width: 100%;
            background-color: lightblue;
            flex-flow:wrap;
            height: auto;
            padding-top: 1%;
            padding-bottom: 1%;
            text-align: center;
            
        }

        .footerblock{
            display: inline-block;
            padding: 10px 10px;
            font-weight: bold;
            background-color: lightblue;
            margin-left: 10%;
            margin-right:10%;
            justify-content: space-evenly;
        }

        .newsletter{
            background-color: lightblue;
            border:lightblue;
            display: inline-block;
            
        }

        .iconfooter{
        display:flex;
        height: auto;
        justify-content: center;
        flex-flow:wrap;
        width:100%;
        background-color: lightblue;
        }

        .itemfooter{
            margin-right: 1%;
        }
  
/*End Footer*/

/*Start Medias Queries*/
@media screen and (min-width: 623px) 
  {
    .dos-columnas 
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .footercolumnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;

    }

    .maincolumnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;

    }

    .main-rows {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
       row-gap:  2rem;
    }
  }

@media screen and (max-width: 768px)
  {
    .responsive_nav{
        background-color: white;
        display:flex;
        height:auto;
        justify-content: space-evenly;
        flex-flow:nowrap;
        flex:1 1 auto;
        }
    .logo{ 
        /*width:50px;*/
        max-width: 50px;
        height: auto;
        order:0;
        justify-content:center}
        

    .hijo1{
        display:flex;
        align-items: center;
        width: 90px;   
    }
    .responsive_welcome{        
        background-color: lightblue;
        display:flex;
        height: 30%;
        justify-content: center;
        align-items:center;
        flex-flow:wrap;
        /*flex:1 1 auto;*/}     
  }

@media screen and (max-width: 450px)
   {
    .responsive_nav{
    
            background-color: white;
            display:flex;
            height:auto;
            justify-content: space-evenly;
            flex-flow:nowrap;
            flex:1 1 auto; }

    .logo{        
        width:50px;
        height: auto;
        order:0;
        justify-content:center}

        .hijo1{
            display:flex;
            align-items: center;
            width: 90px;   
        }

        .responsive_welcome{        
            background-color: lightblue;
            display:flex;
            height: 30%;
            justify-content: center;
            align-items:center;
            flex-flow:wrap;
            /*flex:1 1 auto;*/}   
    }
/*End Medias Queries*/

    
