*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}


#contactUsH3{
    text-align: center;
}

/*START NAVIGATION BAR*/
    .contenedor1{
    background-color: white;
    display:flex;
    height:100px;
    justify-content: space-evenly;
    flex-flow:wrap;
    flex:1 1 auto;
    }

    .fontlinks{
        text-decoration: none;
        color: green;
        font-family: 'Crimson Text', serif;
    }

    .hijo1{
        display:flex;
        align-items: center;
        width: 100px;  
    }


    .logo{
        max-width: 100%;
        /*width:150px;*/
        height: 100px;
        order:0;
    }
/*END NAVIGATION BAR*/

/*START hover effect navigation bar*/

    nav a:hover
    {color:#000;
    }

    nav a::before{
    content:'';
    display:block;
    height:5px;
    width:100%;
    background-color: #444;
    position:absolute;
    top:0;
    width: 0%;
    transition:all ease-in-out 250ms;
    }

    nav a:hover::before{width:5%;}

/*END hover effert navigation bar*/

/*START Contenedor message header*/
    .contenedor2{
        background-color: lightblue;
        display:flex;
        height: auto;
        justify-content: center;
        /*align-items:center;*/
        flex-flow:wrap;
        /*flex:1 1 auto;*/
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /*alienar parrafo*/
    .palinear{
        text-align: center;
    }

/*END Contenedor message header*/



/* START PAGINA CANCHAS.HTML*/
        /*start grid para colocar las imagenes en la pagina Canchas.html*/
        .canchas1{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas:'miArea miArea1 miArea2';
            max-width: 100%; height: auto;
            margin-left: 0.6%;
            margin-right: 0.6%;
        }

        .canchas2{
            display: grid;
            grid-template-columns: 1fr
            
        }

        .imgcanchas{
            max-width: 100%; 
            object-fit:cover;
            padding-top: 10px;
        }
        /*fin grid para colocar las imagenes en la pagina Canchas.html*/



        /*Fieldset pagina reservar de canchas*/
        .fieldsetcanchas{text-align:left;
            border: white;
            display: inline-block;
            margin: auto;
            font-size: large;}

        /*Start botones y popup de la pagina canchas.html*/
        .button{display: flex;justify-content: center;margin: 5%;}

        .btn{
            padding:5px 20px;
            margin-bottom: 5%;
            margin-right: 5%;
            background-color:rgb(134, 244, 134);
            border:0;
            outline:none;
            cursor:pointer;
            font-size: small;
            font-weight: 10px;
            border-radius: 10px;
        }

        .popup{
            width:400px;
            background:white;
            border-radius: 6px;
            position: absolute;
            top: 0%;
            left:50%;
            transform: translate(-50%,-50%) scale(0.1);
            text-align: center;
            padding: 0 30px 30px;
            color:#333;
            visibility: hidden;
            transition:transform 0.4s, top 0.4s;
        }

        .open-popup{
            visibility: visible;
            top:100%;
            transform: translate(-50%,-50%) scale(1);
        }

        .popup button{
            width: 100%;
            padding:10px 0;
            background:green;
            color:black;
            border:0;
            outline:none;
            font-size: 18px;
            border-radius: 4px;
            cursor:pointer;
            box-shadow: 0 5px 5px rgba(0,0,0,0.2);
        }

        .cssiframe{
            align-items: center;
            padding-left: 5%;
        }

        /*END botones y popup de la pagina canchas.html*/

        /*se usa en canchas.html, en footer y en eventos */
        .brcancha{
            content: "";
            margin: 2em;
            display: block;
            font-size: 10%;
        }
/* END PAGINA CANCHAS.HTML*/


/*START PAGINA CLASES.HTML*/

        .img { max-width: 100%; 
            max-height: 100%;
            object-fit:cover;
            }


        /*se usa en clases.html*/
        .text_inic2{
            text-align: left;
            margin: 2%;
        }

        /*se usa en clases.html y en canchas.html*/
        .centertitle{
            text-align: center;
        }

        .contenedor22{
            width: 100%;
           /* margin-left: 2%;
            margin-right:2%;*/
            height: auto;
            display:block;
            padding: 50px 50px;
        }
        
        .entrada-blog{
            display: inline-block;
            color: black;
            padding: 10px 20px;
            border: 10px double lightblue;
            margin:1%;
            transition: transform .2s;
        }
        
        .entrada-blog:hover{
            transform: scale(1.05);
        }

/* END PAGINA CLASES.HTML*/


/*Start Características botón  enviar de la parte de eventos y newsletter*/

        .enviar{background-color:rgb(134, 244, 134);border-radius:10px;
            border:0;
            outline:none;
            cursor:pointer;
            font-size: small;
            font-weight: 10px;
            padding:5px 20px;
        }
/*End Características botón  enviar de la parte de eventos y newsletter*/

/* Start Slideshow container */
    .slideshow-container {
    max-width: 1067px;
    position: relative;
    margin: auto;
    display: flex;
    }

    /* Hide the images by default */
    .Slides {
    display: none;
    }


    /* On hover, add a black background color with a little bit see-through 
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    }*/


    /* Fading animation 
    .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    }

    @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
    }*/

    /*img del slideshow*/
    .img2{
        width:100%;
        height:60%;
        margin: 0%;
        padding-top: 0.5%;
    }

/* End Slideshow container */



/*START PAGINA EVENTO.HTML*/

        .contmain{
            width: 100%;
            /*background-color: yellow;*/
            flex-flow:wrap;
            height: auto;
            text-align: center;
            /*padding: 10px 20px;*/
            border: 10px double lightblue;
            margin-top: 0.5%;
            margin-bottom: 0.5%;
        }


        .mainblock{
            display: inline-block;
            padding: 10%;
            font-weight: bold;
            /*background-color: red;*/
            justify-content:center;
            
        }

        .mainblockcal{
            display: inline-block;
            padding: 10%;
            font-weight: bold;
        /* background-color: red;*/
            justify-content:center;
            max-width: 50%;
            margin-left: 20%;
            
        }

        .imgdate{
            max-width:100%;
        }

        .confirmar{
            background-color: white;
            border:white ;
            display: inline-block;
            
        }


/*END PAGINA EVENTOS.HTML*/

/*START FOOTER*/
        .contfoot{
            width: 100%;
            background-color: lightblue;
            flex-flow:wrap;
            height: auto;
            padding-top: 1%;
            padding-bottom: 1%;
            text-align: center;
            
        }

        .footerblock{
            display: inline-block;
            padding: 10px 10px;
            font-weight: bold;
            background-color: lightblue;
            margin-left: 10%;
            margin-right:10%;
            justify-content: space-evenly;
        }

        .newsletter{
            background-color: lightblue;
            border:lightblue;
            display: inline-block;
            
        }

        .iconfooter{
        display:flex;
        height: auto;
        justify-content: center;
        flex-flow:wrap;
        width:100%;
        background-color: lightblue;
        }

        .itemfooter{
            margin-right: 1%;
        }
  
/*END FOOTER*/

/*Start Medias Queries*/
@media screen and (min-width: 623px) 
  {
    .dos-columnas 
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .footercolumnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;

    }

    .maincolumnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;

    }

    .main-rows {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
       row-gap:  2rem;
    }
  }

@media screen and (max-width: 768px)
  {
    .responsive_nav{
        background-color: white;
        display:flex;
        height:auto;
        justify-content: space-evenly;
        flex-flow:nowrap;
        flex:1 1 auto;
        }
    .logo{ 
        /*width:50px;*/
        max-width: 50px;
        height: auto;
        order:0;
        justify-content:center}
        

    .hijo1{
        display:flex;
        align-items: center;
        width: 90px;   
    }
    .responsive_welcome{        
        background-color: lightblue;
        display:flex;
        height: 30%;
        justify-content: center;
        align-items:center;
        flex-flow:wrap;
        /*flex:1 1 auto;*/}     
  }

@media screen and (max-width: 450px)
   {
    .responsive_nav{
    
            background-color: white;
            display:flex;
            height:auto;
            justify-content: space-evenly;
            flex-flow:nowrap;
            flex:1 1 auto; }

    .logo{        
        width:50px;
        height: auto;
        order:0;
        justify-content:center}

        .hijo1{
            display:flex;
            align-items: center;
            width: 90px;   
        }

        .responsive_welcome{        
            background-color: lightblue;
            display:flex;
            height: 30%;
            justify-content: center;
            align-items:center;
            flex-flow:wrap;
            /*flex:1 1 auto;*/}   
    }
/*End Medias Queries*/

    
